body, html {
  margin: 0;
  padding: 0;
  height: 100%; // Assure que le body et html prennent toute la hauteur de l'écran
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // S'assure que le wrapper occupe toute la hauteur de la fenêtre
}

main {
  flex: 1; // Le contenu occupe l'espace restant
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  height: 150px;

  img {
    height: 39px;
    margin: 30px;
    transition: height 0.3s ease; 
  }

  p {
    font-size: clamp(12px, 2vw, 24px); 
    margin: 0;
    transition: font-size 0.3s ease; 
  }

  @media screen and (max-width: 760px) {
      height: 180px; // Définition de la hauteur du footer

  }

  @media screen and (max-width: 375px) {
    height: 180px;

    img {
      height: 30px; 
    }

    p {
      font-size: 12px;
    }
  }
}



