.error-404{
  font-size: 288px;
  margin: 0px;
  font-weight: 700;
  color: #FF6060;
  font-family: "Montserrat";
}

.container-error-404{
  height: 500px;
  width: clamp(300px, 90%, 1240px);
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.error-message-404{
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat";
}

.link-error-404{
font-size: 18px;
color: #000;
font-weight: 500;
}