//styles for home and about page
.banner {
  width: clamp(300px, 90%, 1240px);
  height: clamp(111px, 20vh, 300px); 
  margin: 0 auto 40px; 
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-static-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 25px;
    filter: brightness(50%); 
  }

  h1 {
    z-index: 1;
    position: absolute;
    color: white; 
    font-size: clamp(16px, 3vw, 48px);
    padding: 0 10px; 
    text-align: center; 
    transition: all 0.3s ease; 
  }

  @media screen and (max-width: 768px) {
    margin: 10px auto 25px; 
    height: 111px; 

    &-image {
      border-radius: 10px;
    }

    h1 {
      font-size: 24px; 
    }
  }

  @media screen and (max-width: 375px) {

    &-image {
      border-radius: 10px;
    }

    h1 {
      text-align: left; 
      padding-left: 15px; 
    }
  }
}





// Slider styles for cardDetails page

.carousel-active {
  width: clamp(335px, 90%, 1240px);
  height: 350px;
  margin: 0 auto;
  position: relative;
  border-radius: 25px;
  overflow: hidden;

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    background-color: #f0f0f0;
    border-radius: 25px; 
}

.banner-static-image{
  filter: brightness(90%); 
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;

  img {
    width: 68px;
    height: 93px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.flèche-précédent {
    left: 10px;
  }

  &.flèche-suivant {
    right: 10px;
  }
}

.carousel-counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  z-index: 20;
  font-family: "Montserrat";
}

@media screen and (max-width: 1100px) {
  .carousel-image {
    transform: scale(1.32);
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-active {
    height: 280px;
    border-radius: 20px;
  }

  .carousel-image {
    border-radius: 20px;
    transform: scale(1.32);
  }

  .carousel-btn img {
    width: clamp(48px, 10vw, 68px);
    height: clamp(73px, 14vw, 93px);
  }

  .carousel-counter {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .carousel-active {
    height: 255px;
    width: 350px;
    border-radius: 10px;
  }

  .carousel-image {
    transform: scale(2.2);
    border-radius: 10px;
  }

  .carousel-btn img {
    width: clamp(34px, 8vw, 48px);
    height: clamp(34px, 11vw, 73px);
  }

  .carousel-btn {
    &.flèche-précédent {
      left: -5px;
    }

    &.flèche-suivant {
      right: -5px;
    }
  }

  .carousel-counter {
    display: none;
  }
}


@media screen and (max-width: 370px) {
  .carousel-active {
    height: 265px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
  }

  .carousel-image {
    transform: scale(2.6);
    border-radius: 10px;
  }

}
}